<%- include("templates/header", {tituloWeb: title}) %>

<div class="container">
    <div class="d-grid gap-2">
        <a class="btn btn-success" href="/viajes/nuevo" role="button">Crear nuevo viaje</a>
    </div>
    <% if (content.length > 0) { %>

            <% content.forEach(element => { %>
                <div class="m-5 card">
                    <div class="card-header">
                        <%= element.nombre %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= element.origen%> - <%= element.destino %></h5>
                        <p class="card-text"><%= element.descripcion %></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            <% }) %>

    <% } else { %>
        <a>No pailas</a>
    <%}%>
</div>

<%- include("templates/footer", {footerMessage:"footer de viajes"}) %>